@model GiLuFlixBack.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Filme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diretor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diretor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.elencoPrincipal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.elencoPrincipal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ano)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
