@model GiLuFlixBack.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div style="display: flex;">
<div>
    <h4>Filme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
</div>
<br>
<div style="margin-top: 5%; width:600px"> 

<form id="reviewForm" asp-action="RateMovie" asp-controller="Review">
    <div class="form-group">
        <label for="ReviewText">Comentário</label>
        <textarea id="ReviewText" class="form-control" name="ReviewText" rows="5"></textarea>
<div class="d-flex justify-content-between">
            <label for="Rating">Rating</label>
            <input type="radio" id="rating1" name="Rating" value="1">
            <label for="Rating">1</label><br>
            <input type="radio" id="rating2" name="Rating" value="2">
            <label for="Rating">2</label><br>
            <input type="radio" id="rating3" name="Rating" value="3">
            <label for="Rating">3</label>
            <input type="radio" id="rating4" name="Rating" value="4">
            <label for="Rating">4</label>
            <input type="radio" id="rating5" name="Rating" value="5">
            <label for="Rating">5</label>
            <input type="radio" id="rating6" name="Rating" value="6">
            <label for="Rating">6</label>
            <input type="radio" id="rating7" name="Rating" value="7">
            <label for="Rating">7</label>
            <input type="radio" id="rating8" name="Rating" value="8">
            <label for="Rating">8</label>
            <input type="radio" id="rating9" name="Rating" value="9">
            <label for="Rating">9</label>
            <input type="radio" id="rating10" name="Rating" value="10">
            <label for="Rating">10</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar Avaliação</button>
    <input type="hidden" id="MovieId" name="ItemId" value="@ViewBag.MovieId" />
    <input type="hidden" id="MovieId" name="UserId" value="@ViewBag.UserId" />
</form>
    </div>
</div>

<h2>Comentários:</h2>
@foreach (var review in Model.Reviews) {
    <p><a href="@Url.Action("DetailsById", "User", new { id = review.UserId })">@review.Name</a> - @review.DatetimeReview</p>
    <p>Nota: @review.Rating</p>
    <p>@review.ReviewText</p>
    <hr/>
}