@model IEnumerable<GiLuFlixBack.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.Recommendations != null && ViewBag.Recommendations.Count > 0)
{
<h2>Recomendações:</h2>
<ul>
    @foreach (var recommendation in ViewBag.Recommendations)
    {
    <li>@recommendation.Title</li> <!-- Substitua Title pelo nome do campo que contém o título do filme -->
    }
</ul>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>