@model GiLuFlixBack.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a asp-action="RateMovie" asp-route-id="@Model?.Id">Avaliar Filme</a>
    <a asp-action="Index">Back to List</a>
</div>
<br>
<form id="reviewForm" asp-action="RateMovie" asp-controller="Review">
    <div class="form-group">
        <label for="reviewText">Comentário</label>
        <textarea id="reviewText" class="form-control" name="reviewText" rows="5"></textarea>
        <div class="d-flex">
            <label for="Rating">Rating</label>
            <input type="radio" id="rating1" name="Rating" value="1">
            <label for="Rating">1</label><br>
            <input type="radio" id="rating2" name="Rating" value="2">
            <label for="Rating">2</label><br>
            <input type="radio" id="rating3" name="Rating" value="3">
            <label for="Rating">3</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar Avaliação</button>
    <input type="hidden" id="MovieId" name="ItemId" value="@ViewBag.MovieId" />
    <input type="hidden" id="MovieId" name="UserId" value="@ViewBag.UserId" />
</form>
